footer
	ul.legend--wrapper
		li.legend--tick Start
		li.legend--tick Move 1
		li.legend--tick Move 2
		li.legend--tick Move 3
		li.legend--tick Move 4
		li.legend--tick Move 5
		li.legend--tick Move 6
		li.legend--tick Move 7
		li.legend--tick Move 8
		li.legend--tick Move 9
