header
	h1 The tic-tac-toe solution space
	nav: ul.navigation
		li 
			a.noLink.navigation--item Share
			ul.navigation--dropdown
				li: a(href="https://www.facebook.com/sharer.php?u=http://tictactoe.dubberly.com/") Facebook
				li: a(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ftictactoe.dubberly.com%2F&text=Using%20%23computational%20%23design%20to%20generate%2C%20visualize%2C%20and%20navigate%20the%20solution%20space%20for%20Tic-tac-toe.%20") Twitter
				li: a(href="https://www.linkedin.com/shareArticle?url=http://tictactoe.dubberly.com/&title=Using%20#computational%20#design%20to%20generate,%20visualize,%20and%20navigate%20the%20solution%20space%20for%20Tic-tac-toe.") LinkedIn
				li: a(href="mailto:?subject=The tic-tac-toe solution space&body=Using computational design to generate, visualize, and navigate the solution space for Tic-tac-toe. http://tictactoe.dubberly.com") Email
		li
			a.navigation--item.about--open About
	.navigation--toggle
		svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg").icon.navigation--open
			use(xlink:href='#icon-menu')
		svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg").icon.navigation--close
			use(xlink:href='#icon-close')