header
	h1 The tic-tac-toe solution space
	nav: ul.navigation
		li 
			a.noLink.navigation--item Share
			ul.navigation--dropdown
				li: a(href="#0") Facebook
				li: a(href="#0") Twitter
				li: a(href="#0") LinkedIn
				li: a(href="#0") Email
		li
			a.navigation--item.about--open About
	.navigation--toggle
		svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg").icon.navigation--open
			use(xlink:href='#icon-menu')
		svg(xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg").icon.navigation--close
			use(xlink:href='#icon-close')